/vendor/
.vscode
/.php-cs-fixer.cache
/phpstan.neon
/node_modules/
/composer.lock
/yarn.lock
/package-lock.json
/yarn-error.log
/webpack.config.js
/.idea/workspace.xml
/.eslintrc.json
/.nvmrc
/.php-cs-fixer.php
/.prettierrc
/phpstan.neon.dist
/tsconfig.json
