{% block ea_filecropupload_widget %}
    <div class="ea-fileupload">
        {% set placeholder = t('action.choose_file', {}, 'EasyCropBundle') %}
        {% set title = '' %}
        {% set filesLabel = 'files'|trans({}, 'EasyCropBundle') %}
        {% if currentFiles %}
            {% if multiple %}
                {% set placeholder = currentFiles|length ~ ' ' ~ filesLabel %}
            {% else %}
                {% set placeholder = (currentFiles|first).filename %}
                {% set title = (currentFiles|first).mTime|date %}
            {% endif %}
        {% endif %}
        {% if currentFiles %}
            {% if multiple %}
                {% set size = (currentFiles|reduce((carry, file) => carry + file.size))|ea_filesize %}
            {% else %}
                {% set size = (currentFiles|first).size|ea_filesize %}
            {% endif %}
        {% else %}
            {% set size = null %}
        {% endif %}

        {% set currentFilesData = [] %}
        {% for currentFile in currentFiles %}
            {% set currentFilesData = currentFilesData|merge([{
                "filepath": download_path ~ currentFile.filename,
                "size": currentFile.size|ea_filesize,
                "extension": currentFile.extension,
                "filename": currentFile.filename,
            }]) %}
        {% endfor %}

        <div {{ stimulus_controller('crop', {
            formFile: {
                id: form.file.vars.id,
                name: form.file.vars.full_name,
                required: form.file.vars.required,
                placeholder: placeholder,
                title: title,
                class: 'd-none ' ~ form.file.vars.row_attr.class,
            },
            formCropped: {
                id: form.cropped.vars.id,
                name: form.cropped.vars.full_name,
                required: form.cropped.vars.required,
                class: 'd-none',
            },
            formLabel: {
                for: form.file.vars.id,
                class: 'custom-file-label required ' ~ form.file.vars.row_attr.class,
            },
            cropBtn: 'action.crop'|trans([], 'EasyCropBundle'),
            editBtn: 'action.edit'|trans([], 'EasyCropBundle'),
            deleteBtn: 'action.delete'|trans([], 'EasyCropBundle'),
            mimeError: 'error.mime'|trans([], 'EasyCropBundle'),
            render: {
                currentFiles: currentFilesData,
                size: size,
                allow_delete: allow_delete,
                deleteId: form.delete.vars.id,
                deleteName: form.delete.vars.full_name,
            }
        }) }}
        ></div>
    </div>
    {{ form_errors(form.file) }}
{% endblock %}
